html, body { width: 100%; height: 100%; }
body {
	font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.65);
	background-color: #fff;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
input[type="text"],
textarea {
  -webkit-appearance: none;
}
ul,
ol {
  list-style: none;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
::-moz-selection {
  background: #0080ff;
  color: #fff;
}
::selection {
  background: #0080ff;
  color: #fff;
}

body {
	font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB,
		sans-serif !important;
	color: #4d4d4d !important;
	background-color: #f6f7fc !important !important;
}

h1, h2, h3, h4, h5, h6 { color: #4d4d4d; }

a { color: #4d4d4d; }
a:focus { text-decoration: none; }
a.color { text-decoration: none; }
*:focus { outline: none; } 
button:focus, input:focus, textarea:focus { border-color: #0080ff!important; }
button.disabled, button:disabled  { cursor: not-allowed; }

.container { width: 1190px; height: 100%; margin: 0 auto; }

.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.unselect {
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.row {
	width: 100%;
	height: 100%;
}
.row:after {
	content: " ";
	display: table;
	clear: both;
	visibility: hidden;
	font-size: 0;
	height: 0;
}
.row > .col { height: 100%;  }
.left { float: left!important; }
.right { float: right!important; } 
.half { float: left; width: 50%!important; box-sizing: border-box; }
.quarter { float: left; width: 25%!important; box-sizing: border-box; }
.eighth { float: left; width: 12.5%!important; box-sizing: border-box; }
.thirds { float: left; width: 33.3333%!important; box-sizing: border-box; }

.text-center { text-align: center; }
.text-right { text-align: right; }

a.btn { text-decoration: none; }
.color { color: #0080ff; }
.active .color-hover { color: #0080ff; }
.color-hover:hover { color: #0080ff; }
.bg-color { background-color: #0080ff; }
.bd-color { border: 1px solid #0080ff; }

.drop-down { position: relative; }
.drop-down .drop-menu { display: none; position: absolute; top: 100%; left: 0; border-width: 0 1px 1px; border-style: solid; border-color: #dedeed; padding: 8px; }
.drop-down:hover .drop-menu { display: block; }

.btn-block { width: 100%; padding: 8px 0; }
form .form-item { display: block; }
form .form-item input { border: 1px solid #dedeed; padding: 5px; width: 100%; height: 42px; box-sizing: border-box; }
form .form-item .item-value { margin: 10px 8px; display: inline-block; color: #999; font-size: 15px; }
form .form-item .item-value img { width: 100%; }
form .form-item textarea { border: 1px solid #dedeed; padding: 8px; width: 100%; height: 100px; box-sizing: border-box; resize: none; }
form .form-item button, form .form-item .btn { border: 0; border-radius: 4px; background: #0080ff; font-size: 15px; color: #fff; padding: 10px 12px; cursor: pointer; }
form .form-item.form-icon-item { position: relative; }
form .form-item.form-icon-item .form-icon { width: 14px; margin: 14px 10px; font-size: inherit; position: absolute; }
form .form-item.form-icon-item input { padding-left: 28px; }
form .form-item button.disabled, form .form-item .btn.disabled,
form .form-item button[disabled], form .form-item .btn[disabled] {
	background-color: #EEE;
	cursor: not-allowed;
	color: #ADADAD;
}
form .form-item-msg { font-size: 13px; color: red; }
form .form-label { font-size: 14px; margin: 10px 8px 10px 0; display: inline-block; }
form .form-label.required:before { content: "*"; color: red; display: inline-block; font-weight: bold; margin: 0 3px 0 0; }
.form-inline .form-label { margin-right: 3px; }
.form-inline .form-item { display: inline-block; margin: 0 15px; }
.form-inline .form-item input { width: auto; height: 33px; }
.form-inline .form-item button, .form-inline .form-item .btn { margin: 4px 2px; padding: 0 12px; height: 31px; border: 1px solid transparent; border-radius: 1px; display: block; }
.form-inline .form-item button.danger,.form-inline .form-item .btn.danger { background: red; }
.form-inline .form-item button:hover,.form-inline .form-item .btn:hover { background: #fff; color: #0080ff; border-color: #0080ff; }
.form-inline .form-item button.danger:hover, .form-inline .form-item .btn.danger:hover { background: #fff; color: red; border-color: red; }

.panel { border: 1px solid #dedeed; box-shadow: 1px 1px 1px #dedeed; box-sizing: border-box; background-color: #fff; }
.panel .panel-title { height: 44px; line-height: 44px; border-bottom: 1px solid #dedeed; }
.panel .panel-title h2 *:FIRST-CHILD { font-size: 18px; padding-left: 14px; }
.panel .panel-body .panel-content { padding: 15px; box-sizing: border-box; }

.top { height: 32px; line-height: 32px;  border-bottom: 1px solid #dedeed; background-color: #f9f9f9; }
.top .drop-down img { padding: 10px; width: 100px; height: 100px; }
.top span, .top a { display: inline-block; padding: 0 7px;  }
.top .drop-button span { padding: 0 3px;}
.top a.color-hover { text-decoration: none; }
.top ul > li { float: left; }
.top .drop-down .drop-menu { width: 120px; background-color: #fff; z-index: 2; }
.top .shopcar span { padding: 0 1px; }

.navbar { height: 80px; background: #fff; }
.navbar .logo { display: inline-block; padding: 20px 15px; }
.navbar .logo img { width: 180px; height: 50px; }
.navbar .logo-title { margin-top: 30px; border-left: 2px solid #AFAFAF; padding: 3px 0 3px 25px; }
.navbar .logo-title h1 { font-size: 19px; }
.navbar .navbar-menu { margin-top: 20px; }
.navbar .navbar-menu .navbar-menu-item { width: 80px; padding: 18px 0 10px; margin: 0 20px; float: left; }
.navbar .navbar-menu .navbar-menu-item.active, .navbar .navbar-menu .navbar-menu-item:hover { border-bottom: 3px solid #0080ff; }
.navbar .navbar-menu .navbar-menu-item a { display: block; font-size: 18px; text-decoration: none; text-align: center; }

/**
.footer { width: 100%; margin: 50px auto; }
.footer .footer-link { text-align: center; margin: 15px auto; }
.footer .footer-link a { text-decoration: none; font-size: 12px; display: inline-block; margin: 0 15px; }
.footer .footer-copyright { text-align: center; font-size: 14px; margin: 10px 0 15px; }
.footer .footer-images { text-align: center; }
.footer .footer-images img { width: 127px; height: 47px; margin: 10px 5px; cursor: pointer; }
*/

.footer { width: 100%; background: #282D3B; border-top: 1px solid transparent; border-bottom: 1px solid transparent; color: #fff; }
.footer a, .footer span, .footer p { color: #fff; }
.footer .footer-links { margin: 40px 0 30px; }
.footer .footer-link { margin: 9px 0; }
.footer .footer-link a, .footer .footer-link span { font-size: 13px; display: inline-block; margin: 0 5px; text-decoration: none; }
.footer hr { opacity: 0.08; }
.footer .footer-bottom { margin: 20px auto 40px; }
.footer .footer-company { float: left; }
.footer .footer-company .put-record { display: inline-block; margin: 0 20px; }
.footer .footer-images { float: right; }
.footer .footer-images img { width: 82px; height: 30px; margin: 0 4px; }
.footer .footer-images .footer-copyright { display: inline-block; margin: 0 20px; position: relative; bottom: 16px; }


.buy-product-list { margin : 2px auto 30px; }
.buy-product-list .column { float: left; box-sizing: border-box; padding: 10px; }
.buy-product-list .product-list .product-list-title { background: #dedeed; position: relative; }
.buy-product-list .product-list .product-list-title:after { position: absolute; bottom: -5px; border-bottom: 1px solid #dedeed; width: 100%; visibility: visible; }
.buy-product-list .product-list .product-list-title .column { margin: 0; }
.buy-product-list .product-list li { border-bottom: 1px solid #dedeed; display: table; width: 100%; }
.buy-product-list .product-list li .column { display: table-cell; vertical-align: middle; }
.buy-product-list .product-list li p { color: #7D7D7D; }
.buy-product-list .product-list li p.import { color: #4d4d4d; font-size: 15px; }
.buy-product-list .product-empty { padding: 100px 0; text-align: center; }
.buy-product-list .product-empty .empty-div span.fa { font-size: 50px; color: #bbb; }
.buy-product-list .product-empty .empty-div p { line-height: 2em; color: #bbb; }

.table {
    position: relative
}

.table,.table *,.table :after,.table :before {
    box-sizing: border-box
}

.table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background: #fff
}
.table tbody tr:hover { background: #F6F6F9; }
.table table tr:first-child td {
    border-top-width: 0
}

.table th {
    padding: 0;
    background: #ebecf0;
    color: #333;
    text-align: left;
    font-weight: 400;
    border: 1px solid #dcdee3
}

.table th .table-cell-wrapper {
    padding: 12px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all
}

.table-header-resizable {
    position: relative
}

.table-header-resizable .table-resize-handler {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background: transparent;
    cursor: ew-resize
}

.table td {
    padding: 0;
    border: 1px solid #dcdee3
}

.table td .table-cell-wrapper {
    padding: 12px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all
}

.table td .table-cell-wrapper .icon-arrow-down,.table td .table-cell-wrapper .icon-arrow-right,.table td .table-cell-wrapper .table-tree-placeholder {
    margin-right: 3px;
    float: left
}

.table td .table-cell-wrapper .icon-arrow-down:before,.table td .table-cell-wrapper .icon-arrow-right:before {
    width: 12px;
    font-size: 12px;
    line-height: inherit
}

.table .table-expanded .table-cell-wrapper,.table .table-selection .table-cell-wrapper {
    overflow: visible
}

.table.no-header table tr:first-child td {
    border-top-width: 1px
}

.table.only-bottom-border {
    border-width: 0
}

.table.only-bottom-border .table-expanded-row td,.table.only-bottom-border .table-expanded-row th,.table.only-bottom-border td,.table.only-bottom-border th {
    border-width: 0 0 1px
}

.table-loading {
    display: block
}

.table.zebra tr:nth-child(odd) td {
    background: #fff
}

.table.zebra tr:nth-child(2n) td {
    background: #f7f8fa
}

.table.zebra .table-row.hovered td,.table.zebra .table-row.selected td {
    background: #f2f3f7
}

.table-empty {
    color: #a0a2ad;
    padding: 32px 0;
    text-align: center
}

.table-expanded-row td {
    border-width: 0
}

.table-expanded-row td:first-child {
    border-left-width: 1px
}

.table-expanded-row td:last-child {
    border-right-width: 1px
}

.table-expanded-row:last-child td {
    border-bottom-width: 1px
}

.table-expanded-row .table .last td {
    border-bottom-width: 0
}

.table-filter-footer {
    margin: 10px 10px 0
}

.table-filter-footer button {
    margin-right: 5px
}

.table-row {
    transition: all .3s ease
}

.table-row.hidden {
    display: none
}

.table-row.hovered,.table-row.selected {
    background: #f2f3f7
}

.table-tree-placeholder {
    display: inline-block;
    width: 12px
}

.last .table-expanded-row td {
    border-bottom-width: 1px
}

.table-body,.table-header {
    overflow: auto;
    font-size: 12px
}

.table-body {
    font-size: 12px
}

.table-fixed {
    border: 1px solid #dcdee3
}

.table-fixed table {
    table-layout: fixed
}

.table-fixed .table-header {
    background: #ebecf0
}

.table-fixed table tr td:first-child,.table-fixed table tr th:first-child {
    border-left-width: 0
}

.table-fixed .table-header th {
    border-top-width: 0
}

.table-fixed .table-header tr th:last-child {
    border-right-width: 0
}

.table-fixed .table-body td {
    border-top-width: 0
}

.table-fixed .table-body tr:last-child td {
    border-bottom-width: 0
}

.table-fixed .table-body tr td:last-child {
    border-right-width: 0
}

.table-fixed.table-group table tr td:first-child,.table-fixed.table-group table tr th:first-child {
    border-left-width: 1px
}

.table-fixed.table-group .table-header th {
    border-top-width: 1px
}

.table-fixed.table-group .table-header tr th:last-child {
    border-right-width: 1px
}

.table-fixed.table-group .table-body td {
    border-top-width: 1px
}

.table-fixed.table-group .table-body tr:last-child td {
    border-bottom-width: 1px
}

.table-fixed.table-group .table-body tr td:last-child {
    border-right-width: 1px
}

.table-lock .table-body {
    overflow-x: auto;
    overflow-y: visible
}

.table-group {
    border-width: 0
}

.table-group .table-body {
    margin-top: 8px
}

.table-group .table-body table {
    margin-bottom: 8px
}

.table-group .table-body table tr:first-child td {
    border-top-width: 1px
}

.table-group .table-group-footer td,.table-group .table-group-header td {
    background: #ebecf0
}

.table-group .table-row.hovered,.table-group .table-row.selected {
    background: #fff
}

.table-lock {
    position: relative
}

.table-lock table {
    table-layout: fixed
}

.table-header-inner {
    overflow: hidden
}

.table-lock-left,.table-lock-right {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border: 0
}

.table-lock-left table,.table-lock-right table {
    width: auto
}

.table-lock-left .table-body,.table-lock-right .table-body {
    overflow: hidden
}

.table-lock-right {
    right: 0;
    left: auto
}

.table-lock-right table tr td:first-child,.table-lock-right table tr th:first-child {
    border-left-width: 1px
}

.table-lock-right.shadow {
    box-shadow: -2px 0 3px rgba(0,0,0,.12)
}

.table-lock-left.shadow {
    box-shadow: 2px 0 3px rgba(0,0,0,.12)
}

.table-filter {
    line-height: 1
}

.table-sort {
    position: relative;
    width: 16px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1
}

.table-sort .icon {
    position: absolute;
    left: 0;
    color: #333
}

.table-sort .icon:before {
    width: 12px;
    font-size: 12px;
    line-height: inherit
}

.table-sort .current .icon {
    color: #5584ff
}

.table-sort .icon-ascending {
    left: 4px
}

.table-filter {
    margin-left: 5px;
    cursor: pointer;
    width: 20px;
    display: inline-block
}

.table-filter .icon {
    color: #333
}

.table-filter .icon:before {
    width: 12px;
    font-size: 12px;
    line-height: inherit
}

.table-expanded-ctrl.disabled {
    color: #999
}

.table-expanded-ctrl .icon:before {
    width: 12px;
    font-size: 12px;
    line-height: inherit
}

.form-item.dropzone {
	border: 2px dashed #0087F7;
	border-radius: 5px;
	background: white;
}
.dropzone .dz-message {
	font-weight: 400;
}
.dropzone .dz-message .note {
	font-size: 0.8em;
	font-weight: 200;
	display: block;
	margin-top: 1.4rem;
}

DIV.digg {  
    FONT-SIZE: 12px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center  
}
DIV.digg A {  
    BORDER-RIGHT: #aaaadd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaaadd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #aaaadd 1px solid; COLOR: #000099; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaadd 1px solid; TEXT-DECORATION: none  
}  
DIV.digg A:hover {  
    BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; BORDER-LEFT: #000099 1px solid; COLOR: #000; BORDER-BOTTOM: #000099 1px solid  
}  
DIV.digg A:active {  
    BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; BORDER-LEFT: #000099 1px solid; COLOR: #000; BORDER-BOTTOM: #000099 1px solid  
}  
DIV.digg SPAN.current {  
    BORDER-RIGHT: #000099 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000099 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #000099 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #000099 1px solid; BACKGROUND-COLOR: #000099  
}  
DIV.digg SPAN.disabled {  
    BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid  
}  
