.product-title { margin: 20px auto 50px; float: left; width: 200px; }
.product-title .product-types h2 { font-size: 17px; margin: 10px 20px; }
.product-title .product-types .product-type-list { border: 1px solid #CCC; }
.product-title .product-types .product-type-item { border-bottom: 3px solid #CCC; padding: 10px 20px; }
.product-title .product-types .product-type-item a { text-decoration: none; }
.product-title .product-types .product-type-item.active { border-color: #0080ff;  }
.product-title .product-types .product-type-item.active a { color: #0080ff; }
.product-title .product-types .product-type-icon { display: inline-block; width: 48px; height: 36px; }
.product-title .product-types .product-type-icon img { vertical-align: middle; }
.product-title .product-types .product-type-name { display: inline-block; line-height: 36px; font-size: 15px; }

.product-content { float: left; width: 940px; margin: 20px; }
.product-content h1 { font-size: 16px; margin: 20px 0 10px; }
.product-content .product-search { border: 1px solid #dedeed; padding: 2px 0; }

.product-display { margin : 10px auto 30px; }
.product-display .colomn { float: left; box-sizing: border-box; padding: 10px; }
.product-display .product-list .product-list-title { background: #dedeed; }
.product-display .product-list .product-list-title .colomn { margin: 0; }
.product-display .product-list li { border-bottom: 1px solid #dedeed; display: table; width: 100%; }
.product-display .product-list li .colomn { display: table-cell; vertical-align: middle; }
.product-display .product-list li p { color: #7D7D7D; }
.product-display .product-list li p.import { color: #4d4d4d; font-size: 15px; }
.product-display .colomn .m-t { margin-top: 20px; }
.product-display .colomn .btn { display: inline-block; margin: 0 5px; cursor: pointer; }
.product-display .colomn .btn:hover { color: #0080ff; }

.product-order { margin: 20px auto; background-color: #ECFCFC; padding: 20px; }
.product-order .order-price { color: red; }
.product-order .order-price .formula { font-size: 14px; }
.product-order .order-price .order-price-value { font-size: 18px; line-height: 40px; } 
.product-order .order-number { width: 200px; float:left; margin: 14px 0; }
.product-order .order-button { width: 120px; height: 50px; float:right; }
.product-order .order-button button { background: red; width: 100%; height: 100%; color: #0080ff; }
.product-order .order-number-title {  }

#product-zheng-display .xinghao { width: 30%; }
#product-zheng-display .gongyi { width: 20%; }
#product-zheng-display .kucun { width: 10%; }
#product-zheng-display .shijian { width: 20%; }
#product-zheng-display .caozuo { width: 20%; }
#product-zheng-display .detail { width: 100%; }
#product-zheng-display .key { width: 20%; }
#product-zheng-display .value { width: 30%; }
